body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    z-index: 10;
    padding: 20px;
}

.menu-icon {
    cursor: pointer;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover; /* ปรับรูปภาพให้พอดีกับพื้นที่ */
}

.hero-content {
    position: relative;
    z-index: 20;
    color: white;
    text-align: center;
}

.menu-icon {
    cursor: pointer;
    z-index: 10; /* ทำให้แน่ใจว่าเมนูจะอยู่ด้านบนสุด */
}

.menu-icon div {
    width: 30px; /* ความกว้างของขีด */
    height: 4px; /* ความสูงของขีด */
    background-color: white; /* สีของขีด */
    margin: 6px 0; /* ระยะห่างระหว่างขีด */
}


.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
}
